.containter_login{
	margin-top : 2%;
}

.user_card {
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: hsl(156, 32%, 68%);
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;


}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  ↓    
  #myDiv {
	display: none;
	text-align: center;
  }
.brand_logo_container {
	position: absolute;
	border-radius: 50%;
	background: hsl(156, 32%, 68%);
	padding: 10px;
	text-align: center;
}

.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	background: #038a52 !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #038a52 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background: #038a52 !important;
}

.modal_Dialog{
	background: hsl(156, 32%, 68%);
}